.fade-in-animation {
    opacity: 0;
    overflow: hidden;
    transform: translateY(40px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }
  
  .fade-in-animation.in-viewport {
    opacity: 1;
    transform: translateY(0);
  }

  .active {
    font-weight: bold;
    text-decoration: underline;
    color: #002f99; /* Example color */
  }

  .home-hero-banner:before {
    content: '';
    position: absolute;
    background: #1d37996e;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .home-hero-banner img {
    height: 100%;
  }